{%extends 'main.html'%}

{%block content%}
<br><br><br><br><br><br><br>
<section style="text-align:Center">
    <p >
      We appreciate your Order! If you have any questions, please email
      <a href="mailto:ahmed.osama99@live.com" style="color:orange">ahmed.osama99@live.com</a>.
    </p>
  </section>
  <br>
  <section  style="text-align:Center">
  <a class="btn btn-lg btn-circle btn-outline-new-white" href="{%url 'index'%}" style="color:black">back home</a>
  <br><br>
  </section>
<br><br><br><br>
{%endblock%}