{%load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title> Restaurant</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{%static 'images/apple-touch-icon.png'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">  
	
	
<!--Calender Start-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

<!--Calender Ends-->


	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    {% comment %} <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  <!--WTF is That !!--> {% endcomment %}
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">    
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{%static 'css/responsive.css'%}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{%static 'css/custom.css'%}">



</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">

				{% comment %} <a class="navbar-brand" href="{% url 'index'%}">
					{% comment %} <img src="{%static 'images/logo.png'%}" alt="" /> 
				</a>{% endcomment %}
		
				<button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				{%if role == "guest" or role == None%}
				<div style="margin: auto;" id="navbars-rs-food" >
					<ul class="navbar-nav ml-auto" >
						<li class="nav-item " ><a class="nav-link" href="{%url 'index'%}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{%url 'menu'%}">Menu</a></li>
						<li class="nav-item"><a class="nav-link" href="{%url 'about'%}">About</a></li>
						<li class="nav-item dropdown">
							
							<a class="nav-link dropdown-toggle"
							 data-bs-toggle="dropdown" aria-expanded="false">Pages</a>

							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'reservation'%}">Reservation</a>
								<a class="dropdown-item" href="{% url 'stuff'%}">Stuff</a>
								<a class="dropdown-item" href="{%url 'gallery'%}">Gallery</a>
							</div>
							
						</li>
						<li class="nav-item"><a class="nav-link" href="{% url 'blog'%}">blog</a></li>

						</li>
						<li class="nav-item"><a class="nav-link" href="{%url 'contact'%}">Contact</a></li>
						{%if request.user.is_authenticated %}
						<li class="nav-item"><a class="nav-link" href="{%url 'profile_reservation'%}">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="{%url 'cart'%}">Cart</a></li>

						<li class="nav-item"><a class="nav-link" href="{%url 'logout'%}">logout</a></li>
						
						{%else%}
						<li class="nav-item"><a class="nav-link" href="{%url 'login'%}">login</a></li>
						{%endif%}
					{%else%}
					<li class="nav-item"><a class="nav-link" href="{%url 'Reservations'%}">Reservation List</a></li>
					<li class="nav-item"><a class="nav-link" href="{%url 'orders'%}">Orders List</a></li>
					<li class="nav-item"><a class="nav-link" href="{%url 'Customers'%}">Customers</a></li>
					<li class="nav-item"><a class="nav-link" href="{%url 'logout'%}">logout</a></li>
					{%endif%}
					</ul>
				</div>
			</div>
		</nav>
		{% comment %} <style>
			.center{
				maregin
			}

		</style> {% endcomment %}
	</header>
	<!-- End header -->

